<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="login-container">
      <div class="dx-fieldset">
        <div class="dx-field">
          <dx-text-box placeholder="Username"
                       [showClearButton]="true">
            <dx-validator
              [validationRules]="[{
                            type: 'required',
                            message: 'Login is required'
                    }]">
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="dx-field">
          <dx-text-box
            mode="password"
            placeholder="Password"
            [showClearButton]="true">
            <dx-validator
              [validationRules]="[{
                            type: 'required',
                            message: 'Password is required'
                    }]">
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-button text="Sign In" type="success"></dx-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="login-container">
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">Default mode</div>
            <div class="dx-field-value">
              <dx-text-box value="John Smith"></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">With placeholder</div>
            <div class="dx-field-value">
              <dx-text-box placeholder="Enter full name here..."></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">With clear button</div>
            <div class="dx-field-value">
              <dx-text-box value="John Smith" [showClearButton]="true">
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Password mode</div>
            <div class="dx-field-value">
              <dx-text-box
                mode="password"
                placeholder="Enter password"
                [showClearButton]="true"
                value="f5lzKs0T"
              ></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Text mask</div>
            <div class="dx-field-value">
              <dx-text-box mask="+1 (X00) 000-0000" [maskRules]="rules">
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Disabled</div>
            <div class="dx-field-value">
              <dx-text-box value="John Smith" [disabled]="true">
              </dx-text-box>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-fieldset-header">Events and API</div>
          <div class="dx-field">
            <div class="dx-field-label">Full Name</div>
            <div class="dx-field-value">
              <dx-text-box
                value="Smith"
                [showClearButton]="true"
                placeholder="Enter full name"
                valueChangeEvent="keyup"
                (onValueChanged)="valueChanged($event)"
              ></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Email (read only)</div>
            <div class="dx-field-value">
              <dx-text-box
                [readOnly]="true"
                [hoverStateEnabled]="false"
                [(value)]="emailValue"
              ></dx-text-box>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

-->

